header{
  background-image: url('img/h1.jpg');
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
	background-color: rgba(90,83,83,0.7);
   height: 100px; 
}
nav a{
	text-decoration: none;
	color: rgb(255,255,255);
	padding-left: 20px;
	float: left;
  size: 1OOpx;
  font-weight: bold;
  
}
nav button a{
margin-left: 5px;
margin-right:5px;
}

.circle{
	margin-top: 20px;
}
.circle img{
	border-radius: 50%;
}
.circle h3{
	font-family: Apple Chancery, cursive;
	margin-top: 20px;
    
}

footer{
	
	/*background-color: rgba(90,83,83,1);*/
}
nav p{
	color: #1E90FF;
	font-family: Luminari, fantasy;
	text-transform: uppercase;

}
nav  p strong{
	color: white;
	font-family: arial;
	text-transform: uppercase;

}
#navbarNavAltMarkup{
	margin-left:50%;

}
#ta{
	color: #1E90FF;
	font-family: Luminari, fantasy;
	text-transform: uppercase;
    font-size:20px;
}
#ta strong{
	color: white;
	font-family: arial;
	text-transform: uppercase;
	font-size: 20px;

}
.a{
	height: 35px;
	background-color: #1E90FF;
	color: white;
	text-transform: uppercase;

}
.info{
	margin-top: 50px;
}
.card-text{
  padding-top: 20px;
  padding-bottom:20px;
  padding-left: 10px;
  padding-right: 10px;
}
.card-header{
	background-color: #585858;
	height: 45px;
	font-size: 20Px;
	color: white;
}
/*# :hover {
  transition: 0.4s;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.4);
  

}*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}
